{% extends "../master.html" %}
{% block contenido %}

<h3 class="center-align">Buscar cuenta a la que se va a transferir:
</h3>
<div>
    <div class="row">
        <div class="col s3">
            <div class="file-field input-field">
                <a id="boton_buscar" class="btn waves-effect waves-light" type="submit"><i class="material-icons">search</i>
                </a>
                <div class="file-path-wrapper">
                    <input onchange="recibir()" id="txt_buscar" type="text" class="validate" placeholder="Ingrese el número de cuenta a buscar"
                        maxlength="10" data-length="10">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function recibir() {
        var valor = document.getElementById("txt_buscar").value;
        document.getElementById("boton_buscar").href = 'transferencia?txt_buscar=' + valor +
            '&numero={{ cliente }}';
    }
</script>
{% endblock %}