{% extends "master.html" %}

{% block contenido %}


<div class="container z-depth-4 ">
    <br>
    <div class="row">
        <div class="card">
            <div class="row">
                <form class="card-action" method="POST">
                    <div class="row">
                        <div class="input-field col s6">
                            <input disabled value="{{ cuenta1 }}" id="disabled" type="text" class="validate">
                            <label for="disabled">Cuenta de Origen:</label>
                        </div>
                        <div class="input-field col s6">
                            <input disabled value="{{ cuenta2 }}" id="disabled" type="text" class="validate">
                            <label for="disabled">Cuenta de Destino:</label>
                        </div>
                        
                        {% csrf_token %}
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            {{f.valor}}
                            <label for="email">Valor:</label>
                        </div>
                        <div class="input-field col s6">
                            {{f.descripcion}}
                            <label>Descripcion: </label>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit" value="Guardar" name="action">ACEPTAR
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <script>
        function capturar() {

        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.autocomplete');
            var myArray = [cuenta1.objects.all()];
            var dataCuenta1 = {};
            for (var i = 0; i < myArray[0].length; i++) {
                eval("dataCuenta1." + myArray[0][i] + " = null;");
            }
            var instances = M.Autocomplete.init(elems, {
                data: dataCuenta1
            });
        });
    </script>
    {% endblock %}