{% extends "master.html" %}

{% block contenido %}
<div class="container z-depth-4 center">
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-3">
                <div id="printableArea" style="margin: 25px">
                    <br>
                    <div class="row">
                        <div class="col s12">
                            <a href="" class="brand-logo teal-text text-darken-3">
                                <h3> <i class="medium material-icons left red-text text-darken-4">account_balance</i>COOPERATIVA
                                    EDGAR SÁNCHEZ Y ASOCIADOS</h3>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label>Fecha/Hora: <b>{{fecha}}</b></label>
                        </div>
                        <div class="input-field col s6">
                            <label>La cantidad de : <b>$ {{valor}}</b></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label>Se ha transferido de la cuenta: <b>{{cuenta}}</b></label>
                        </div>
                        <div class="input-field col s6">
                            <label>Tipo de Transaccion: <b>{{tipo}}</b></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label>Su saldo actual es: <b>$ {{saldo}}</b></label>
                        </div>
                        <div class="input-field col s6">
                            <label>Descripcion: <b>{{descripcion}}</b></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <p>La Transacción fue realizada por: {{user.username}}</p>
                            <p>Contactanos a tráves de nuestro correo electronico: <a href="mailto:epsm96@gmail.com">cooperativa@gmail.com</a></p>
                        </div>
                    </div>

                </div>
                <div>
                    <a class="waves-effect waves-light btn" onclick="printDiv('printableArea')"><i class="material-icons left">local_printshop</i>Imprimir</a>
                    <a href="/cuentas/" class="waves-effect waves-light btn blue"><i class="material-icons left">arrow_back</i>Ir a Cuentas</a>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
{% endblock %}
{% block js %}
{% endblock %}