{% extends "master.html" %}
{% block contenido %}
<br>
<div class="container z-depth-4">
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <p>Elige el tipo de transaccion</p>
                </div>
                <div class="card-action ">
                    <a class="red-text" href="/transacciones/crearTransaccion">TRANSACCION</a>
                </div>
                <div class="card-action ">
                    <a class="red-text" href="transaccion">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}