{% extends "master.html" %}

{% block contenido %}

<div class="container z-depth-4 ">
    <br>
    <div class="card">
        <div class="row">
            <form class="card-action" method="POST">

                <div class="row">
                    <div class="input-field col s6">
                        <input disabled value="{{numero}}" id="disabled" type="text" class="validate">
                        <label for="disabled">Cuenta</label>

                    </div>
                    <div class="input-field col s6">
                        {{f.tipo}}
                        <label>Tipo: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{f.valor}}
                        <label for="email">Valor:</label>
                    </div>
                    <div class="input-field col s6">
                        {{f.descripcion}}
                        <label>Descripcion: </label>
                    </div>
                </div>

                {% csrf_token %}

                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" value="Guardar" name="action">ACEPTAR
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </form>
        </div>

        <br>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>
<script>
    document.getElementsByTagName('input')[3].disabled = true
</script>
{% endblock %}