{% extends "master.html" %}

{% block contenido %}
<h3 class="center-align">{{title}}
</h3>
<div class="row">
    <div class="col s12">
        <div class="card z-depth-3">
            <div class="card-content">
                <a class="teal-text text-darken-3" href="transaccion?numero={{numero}}"><i class="material-icons left">playlist_add</i><b>Nueva
                        Transaccion</b></a>
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Cuenta</th>
                            <th>Tipo</th>
                            <th>Fecha</th>
                            <th>Valor</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in lista %}
                        <tr>
                            <td>{{item.cuenta}}</td>
                            <td>{{item.tipo}}</td>
                            <td>{{item.fecha}}</td>
                            <td>{{item.valor}}</td>
                            <td>{{item.descripcion}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    var eliminar = function (id) {
        $.ajax({
            url: "eliminar",
            method: "POST",
            data: {
                id: id
            }
        }).success(function (msj) {
            if (msj == "eliminado") {

            }
            if (msj == "no eliminado") {

            }
            if (msj == "perdido") {

            }
        });
    }
</script>
{% endblock %}