{% extends "master.html" %}

{% block contenido %}

<div class="container z-depth-4 ">
    <br>
    <div class="container center">
        <a href="/cuentas/" class="waves-effect waves-light btn">
            <i class="material-icons right">arrow_back</i>
            Volver al Listado de Cuentas
        </a>
    </div>
    <div class="card">
        <div class="row">
            <form class="card-action" method="POST">
                {% for field in f%}
                <div class="row">
                    <div class="waves-input-wrapper helper-text validate">
                        {{field.label_tag}}{{field}}
                    </div>
                </div>
                {% csrf_token %}
                {%endfor%}
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" value="Guardar" name="action">Guardar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>

{% endblock %}