{% extends "master.html" %}

{% block contenido %}

<h3 class="center-align">Listado de Cuentas
</h3>
<div style="position: relative; height: 70px;">
    <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; right: 24px;">
        <a class="btn-floating btn-large red pulse" href="crearCuenta">
            <i class="large material-icons">credit_card</i>
        </a>
    </div>
    <form action="buscar" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col s3">
                <div class="file-field input-field">
                    <button class="btn waves-effect waves-light" type="submit"><i class="material-icons">search</i>
                    </button>
                    <div class="file-path-wrapper">
                        <input name="buscarCuenta" type="text" class="validate" placeholder="Ingrese el número de cuenta"
                            maxlength="10" data-length="10">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col s12">
        <div class="card z-depth-3">
            <div class="card-content">
                <table class="highlight responsive-table center-align">
                    <thead>
                        <tr>
                            <th>Numero de Cuenta <br>
                                <p>
                                    <font size=-2><i>(Click para ver las transacciones)</i></font>
                                </p>
                            </th>
                            <th>Cédula</th>
                            <th>Saldo</th>
                            <th>Tipo de Cuenta</th>
                            <th>Fecha de Apertura</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cuentas %}
                        <tr>
                            <td><a href="/transacciones/verTransaccion?numero={{item.numero}}">{{item.numero}}</a></td>
                            <td>{{item.cliente}}</td>
                            <td>$ {{item.saldo}}</td>
                            <td>{{item.tipoCuenta}}</td>
                            <td>{{item.fechaApertura}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-action">

            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>

{% endblock %}