{%extends "master.html"%}
{% block contenido %}

<div class="container center-align">
    <br>
    <i class="large material-icons red-text darken-4">not_interested</i>
    <h1>PERMISO DENEGADO</h1>
    <h4>
        <p>Si es un error, consulta con el <a href="mailto:epsm96@gmail.com">Administrador</a></p>
    </h4>
</div>
<div class="fixed-action-btn">
    <a href="{%url 'logout'%}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">keyboard_return</i></a>
</div>
{% endblock %}