{% extends "master.html" %}

{% block contenido %}
<br>
<div class="container z-depth-4 center">
    <br>
    <i class="large material-icons">person_pin</i>
    <div class="row">
        <h4>Inicia sesión</h4>
        <form method="POST" action="" class="col s12">
            {% for field in f%}
            <div class="row">
                <div class="input-field col m12 s12 validate">
                    {{field.label_tag}}
                    {{field}}
                </div>
            </div>
            {% csrf_token %}
            {%endfor%}
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Iniciar sesión</button>
                <button class="btn waves-effect red darken-1" type="reset">Borrar Datos</button>
            </div>
        </form>
    </div>
    <br>
</div>
<br>
{% endblock %}
<!--JavaScript at end of body for optimized loading-->
