<div class="nav-wrapper grey darken-4">
    <a href="" class="brand-logo teal-text text-darken-3"><i class="large material-icons left red-text text-darken-4">account_balance</i>COOPERATIVA</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down teal-text text-darken-3">
        <!--<li><a href="" class="waves-effect red darken-4 btn">Register <i class="material-icons left">person_add</i></a></li>-->
        {% if user.is_authenticated%}
        <li><a href="/clientes/"> <i class="material-icons left">person</i>Cliente</a></li>
        <li><a href="/cuentas/"><i class="material-icons left">credit_card</i>Cuenta</a></li>
        <!--<li><a href="/transacciones/"><i class="material-icons left">compare_arrows</i>Transferencia</a></li>-->
        <li>
            <a class="blue-grey-text">
                Bienvenido, <b> {{user.username}}</b>
            </a>
        <li><a class="red-text" href="{% url 'logout'%}">Cerrar Sesión</a></li>

        </li>
        {% else %}
        <li><a class="waves-effect red darken-4 btn" href="{%url 'auth'%}">Iniciar sesion<i class="material-icons left">person</i></a></li>
        <li><a class="teal-text text-darken-3" href="{%url 'home_Page'%}">Home</a></li>
        <li><a class="teal-text text-darken-3" href="">Ayuda</a></li>
        <li><a class="teal-text text-darken-3" href="">Contactonos</a></li>
        {% endif %}
        <li><a href="" class="sidenav"></a></li>
    </ul>
    <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated%}
        <li><a href="/clientes/"> <i class="material-icons left">person</i>Cliente</a></li>
        <li><a href="/cuentas/"><i class="material-icons left">credit_card</i>Cuenta</a></li>
        <!--<li><a href="/transacciones/"><i class="material-icons left">compare_arrows</i>Transaccion</a></li>-->
        <li>
            <a class="blue-grey-text">
                Bienvenido, <b> {{user.username}}</b>
            </a>
        <li><a class="red-text" href="{% url 'logout'%}">Cerrar Sesión</a></li>

        </li>
        {% else %}
        <li><a class="waves-effect red darken-4 btn" href="{%url 'auth'%}">Iniciar sesion<i class="material-icons left">person</i></a></li>
        <li><a class="teal-text text-darken-3" href="{%url 'home_Page'%}">Home</a></li>
        <li><a class="teal-text text-darken-3" href="">Ayuda</a></li>
        <li><a class="teal-text text-darken-3" href="">Contactonos</a></li>
        {% endif %}
    </ul>
</div>
