{% extends "master.html" %}
{% block contenido %}
<br>
<div class="container z-depth-4">
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-image">
                    {% load staticfiles%}
                    <img src="{%static 'images/img1.jpeg'%}">
                    <span class="card-title">Cooperativa</span>
                </div>
                <div class="card-content">
                    <p>Para acceder a nuestros servicios debes acceder a tu cuenta</p>
                </div>
                <div class="card-action ">
                    <a class="red-text" href="login">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}