<!DOCTYPE HTML>
<html>

<head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {%load staticfiles%}
    <link type="text/css" rel="stylesheet" href="{%static 'materialize/css/materialize.min.css'%}" media="screen,projection" />
    
    <link rel="icon" type="image/jpg" href="{% static '/images/logo.jpg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cooperativa Edgar Sánchez</title>
    <style>
        body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
              }
            
              main {
                flex: 1 0 auto;
              }
    </style>

</head>

<body>
    <nav>{% include "header.html"%}</nav>

    <main class="grey lighten-3">
        <div id="wrapper">


            {%block contenido%}

            {%endblock%}

        </div>
    </main>
    <footer class="page-footer grey darken-4">{%include "footer.html"%}

    </footer>

    {%load staticfiles%}

    <script type="text/javascript" src="{%static 'materialize/js/materialize.min.js'%}"></script>

    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.parallax');
            var instances = M.Parallax.init(elems, {});
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {%for msg in messages%}
            M.toast({
                html: '{{msg.message}}',
                classes: 'rounded'
            }); {% endfor%}
        });
    </script>
    {% block js %}{% endblock %}
</body>

</html>