{% extends "master.html" %}

{% block contenido %}

<div class="container z-depth-4 ">
    <br>
    <div class="container center">
        <a href="/clientes/" class="waves-effect waves-light btn">
            <i class="material-icons right">arrow_back</i>
            Volver al Listado de Clientes
        </a>
    </div>
    <div class="card">
        <div class="row">
            <form class="card-action" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        {{f.nombres}}
                        <label for="first_name">Nombres</label>
                    </div>
                    <div class="input-field col s6">
                        {{f.apellidos}}
                        <label for="last_name">Apellidos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{f.cedula}}
                        <label for="last_name">Cedula</label>
                    </div>
                    <div class="input-field col s6">
                        {{f.genero}}
                        <label>Genero</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{f.correo}}
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        {{f.estadoCivil}}
                        <label>Estado Civil</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{f.telefono}}
                        <label for="first_name">Telefono</label>
                    </div>
                    <div class="input-field col s6">
                        {{f.celular}}
                        <label for="last_name">Celular</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input col s6">
                            <label class="last_name" >Fecha de Nacimiento</label>
                        <input type="text" class="datepicker" {{f.fechaNacimiento}}
                        
                    </div>
                    <div class="input-field col s6">
                        {{f.direccion}}
                        <label for="last_name">Direccion</label>
                    </div>
                </div>
                <!--{% for field in f%}
                <div class="row">
                    <div class="waves-input-wrapper helper-text validate">
                        {{field.label_tag}}{{field}}
                    </div>
                </div>
                {% csrf_token %}
                {%endfor%}-->
                {% csrf_token %}


                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" value="Guardar" name="action">Guardar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>

<SCript>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems,{
            format: 'yyyy-mm-dd'
        });
    });
</SCript>


{% endblock %}