{% extends "master.html" %}

{% block contenido %}
<h3 class="center-align">Listado de Clientes
</h3>
<div style="position: relative; height: 70px;">
    <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; right: 24px;">
        <a class="btn-floating btn-large red pulse" href="nuevo">
            <i class="large material-icons">person_add</i>
        </a>
    </div>
    <form action="buscar" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col s3">
                <div class="file-field input-field">
                    <button class="btn waves-effect waves-light" type="submit"><i class="material-icons">search</i>
                    </button>
                    <div class="file-path-wrapper">
                        <input name="buscarlo" type="text" class="validate" placeholder="Ingrese el número de cedula"
                            maxlength="10" data-length="10">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <div class="card z-depth-3">
            <div class="card-content">
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Apellidos</th>
                            <th>Nombres</th>
                            <th>Estado Civil</th>
                            <th>Genero</th>
                            <th>Direccion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in clientes %}
                        <tr>

                            <td>{{item.cedula}}</td>
                            <td>{{item.apellidos}}</td>
                            <td>{{item.nombres}}</td>
                            <td>{{item.estadoCivil}}</td>
                            <td>{{item.genero}}</td>
                            <td>{{item.direccion}}</td>
                            <td>
                                <a class="btn-floating yellow" href="editar?cedula={{item.cedula}}"><i class="material-icons left">edit</i></a>
                                <a class="btn-floating red" href="eliminar?cedula={{item.cedula}}"><i class="material-icons left">delete</i></a>

                                <!-- Modal Trigger 
                                <a class="btn-floating red accent-3 modal-trigger" href="#modal1"><i
                                        class="material-icons right">clear</i></a>

                                 Modal Structure 
                                <div id="modal1" class="modal">
                                    <div class="modal-content">
                                        <h4>Esta seguro de eliminar a este cliente eliminar?cedula={{item.cedula}}</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="eliminar?cedula={{item.cedula}}" class="modal-close waves-effect waves-green btn-flat">Acepto</a>
                                    </div>
                                </div>
                                -->


                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-action">

            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>

{% endblock %}